 
*{
   padding:0;
   margin:0;
}

  nav ul{
    max-width:100%;
    background:green;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

ul li {
  display: inline-block;
  padding:20px 10px;
   
}


 nav ul li a{
text-decoration:none;
color:white;
font-size:25px;
 text-transform:capitalize;
 font-weight: bold;
  
 }

 a:hover{
   background:rgba(0,0,0,0.6);
   border-radius:8px;
   color:brown;
 }

  
 
 